.bar {
  position: fixed;
  border-bottom: 1px solid lightgray;
  width: 100%;
  display: flex;
  top: 0;
  height: 40px;
  align-items: center;
}

.name {
  font-size: 1.4rem;
  margin-left: 20px;
  font-weight: normal;
}

.save {
  right: 50px;
  transform: scale(1.4);
  margin-top: 2px;
}

.options {
  right: 15px;
}

.icon {
  border: none;
  background: none;
  font-size: 1rem;
  font-weight: bold;
  color: black;
  position: fixed;
}
