.cub {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(10, 10, 10, 0.2);
  display: flex;
  align-items: center;
  flex-direction: column;
  z-index: 1;
}

.dialog {
  width: 430px;
  height: 110px;
  background: #1c1c1c;
  color: white;
  margin-top: 200px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  z-index: 999;
}

.h2 {
  margin-left: 20px;
}

.inputnewnote {
  background: #3c3c3c;
  width: 75%;
  outline: none;
  border: none;
  border-radius: 10px;
  color: white;
  padding-left: 10px;
  height: 30px;
  font-size: 0.8rem;
  margin-left: 20px;
}

.inp {
  display: flex;
  gap: 10px;
}

.newnote2 {
  outline: none;
  border: none;
  border-radius: 10px;
  padding: 5px;
  width: 50px;
  font-size: 0.75rem;
  color: white;
  background: #4169e1;
  transition: 0.3s;
}
