.note {
  left: 250px;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
}

.visual {
  position: fixed;
  top: 60px;
  right: 18px;
  background: #1c1c1c;
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  height: 30px;
  font-size: 0.8rem;
  transition: 0.3s;
  z-index: 999;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}

code {
}

.visual:hover {
  background: white;
  color: #1c1c1c;
  transition: 0.3s;
  border: 1px solid black;
}

.textarea {
  margin-left: 20px;
  margin-top: 40px;
  outline: none;
  border: none;
  font-size: 1rem;
  resize: none;
  overflow-y: auto;
  height: 93%;
  width: 96%;
}
